wp-content/plugins/social-bookmarks/social_bookmarks.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="social_sites">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="site">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="url" type="xs:string" />
              <xs:element name="img" type="xs:string" />
              <xs:element name="key" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>